@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat/Montserrat-VariableFont_wght.ttf");
}

* {
    font-family: "Roboto", sans-serif !important;
    box-sizing: border-box;
    color: #f0f0f0;
}

body {
    overflow: hidden !important;
    background-color: #616161;
}

.user-select-none {
    user-select: none !important;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    background: #888888;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #696969;
}
